<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-500 p-10 text-white">
        <a class="text-blue-500 bg-zinc-900 rounded-md p-2 mb-10" href="/">Go back to home</a>
        <form action="/edit" method="post">
            <input class="block px-5 py-2 bg-zinc-900 text-zinc-400 outline-none w-1/4 rounded-md mt-2" type="text" placeholder="Privious Name" value="<%= filename %>" name="previous">
            <input class="block px-5 py-2 bg-zinc-900 outline-none w-1/4 rounded-md mt-2" type="text" placeholder="New Name" name="new">
            <input class="mt-2 bg-yellow-600 rounded-md p-1" type="submit" value="Update Name">
        </form>
    </div>    
</body>
</html>